<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Mosaddek">
    <meta name="keyword" content="FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">
    <link rel="shortcut icon" href="img/favicon.html">

    <title>Invoice</title>

    <!-- Bootstrap core CSS -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/bootstrap-reset.css" rel="stylesheet">
	<link href="../../css/bootstrap-table.css" rel="stylesheet"/>
    <!--external css-->
    <link href="../../assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/style-responsive.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 tooltipss and media queries -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body >
    <!-- page start-->
		  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              用户列表
                          </header>
                          <table class="table table-striped table-hover table-condensed" id="user_table">
							<div id="toolbar" class="btn-group">
								<button id="btn_add" type="button" class="btn btn-default" onclick="addVideoShow();">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
								</button>
								<button id="btn_delete" type="button" class="btn btn-default" onclick="batchUploadShow();">
									<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>选择启用/禁用
								</button>
								<!--<button id="btn_edit" type="button" class="btn btn-default" onclick="editMemberInfoShow();">
									<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>选择修改
								</button>-->
								<button id="btn_delete" type="button" class="btn btn-default" onclick="delMemberVideo();">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>选择删除
								</button>
							</div>
                          <!--<thead>
                          <tr>
                              <th style="width:8px;"><input type="checkbox" class="group-checkable" data-set="#sample_1 .checkboxes" /></th>
                              <th>用户名</th>
                              <th class="hidden-phone">邮箱</th>
                              <th class="hidden-phone">年龄</th>
                              <th class="hidden-phone">日期</th>
                              <th class="hidden-phone"></th>
							  <th class="hidden-phone">操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>Jhone doe</td>
                              <td class="hidden-phone"><a href="mailto:jhone-doe@gmail.com">jhone-doe@gmail.com</a></td>
                              <td class="hidden-phone">10</td>
                              <td class="center hidden-phone">02.03.2013</td>
                              <td class="hidden-phone"><span class="label label-success">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>gada</td>
                              <td class="hidden-phone"><a href="mailto:gada-lal@gmail.com">gada-lal@gmail.com</a></td>
                              <td class="hidden-phone">34</td>
                              <td class="center hidden-phone">08.03.2013</td>
                              <td class="hidden-phone"><span class="label label-warning">Suspended</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>soa bal</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@yahoo.com">soa bal@yahoo.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">1.12.2013</td>
                              <td class="hidden-phone"><span class="label label-danger">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>ram sag</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">soa bal@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">7.2.2013</td>
                              <td class="hidden-phone"><span class="label label-info">Blocked</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>durlab</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">test@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">03.07.2013</td>
                              <td class="hidden-phone"><span class="label label-success">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>durlab</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">05.04.2013</td>
                              <td class="hidden-phone"><span class="label label-danger">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>sumon</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">05.04.2013</td>
                              <td class="hidden-phone"><span class="label label-success">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>bombi</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">05.04.2013</td>
                              <td class="hidden-phone"><span class="label label-danger">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>ABC ho</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">05.04.2013</td>
                              <td class="hidden-phone"><span class="label label-success">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>test</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">05.04.2013</td>
                              <td class="hidden-phone"><span class="label label-success">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>soa bal</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">soa bal@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">03.07.2013</td>
                              <td class="hidden-phone"><span class="label label-info">Blocked</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>test</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">test@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">03.07.2013</td>
                              <td class="hidden-phone"><span class="label label-danger">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>goop</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">05.04.2013</td>
                              <td class="hidden-phone"><span class="label label-success">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>sumon</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">01.07.2013</td>
                              <td class="hidden-phone"><span class="label label-info">Blocked</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>woeri</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">09.10.2013</td>
                              <td class="hidden-phone"><span class="label label-danger">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>soa bal</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">soa bal@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">9.12.2013</td>
                              <td class="hidden-phone"><span class="label label-info">Blocked</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>woeri</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">test@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">14.12.2013</td>
                              <td class="hidden-phone"><span class="label label-success">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>uirer</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">13.11.2013</td>
                              <td class="hidden-phone"><span class="label label-warning">Suspended</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>samsu</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">17.11.2013</td>
                              <td class="hidden-phone"><span class="label label-danger">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>dipsdf</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">lorem-ip@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">05.04.2013</td>
                              <td class="hidden-phone"><span class="label label-success">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>soa bal</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">soa bal@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">03.07.2013</td>
                              <td class="hidden-phone"><span class="label label-info">Blocked</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          <tr class="odd gradeX">
                              <td><input type="checkbox" class="checkboxes" value="1" /></td>
                              <td>hilor</td>
                              <td class="hidden-phone"><a href="mailto:soa bal@gmail.com">test@gmail.com</a></td>
                              <td class="hidden-phone">33</td>
                              <td class="center hidden-phone">03.07.2013</td>
                              <td class="hidden-phone"><span class="label label-danger">Approved</span></td>
							  <td>
								  <button class="btn btn-success btn-xs"><i class="icon-ok" title="启用"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-remove" title="禁用"></i></button>
								  <button class="btn btn-primary btn-xs"><i class="icon-pencil" title="修改"></i></button>
								  <button class="btn btn-danger btn-xs"><i class="icon-trash" title="删除"></i></button>
							  </td>
                          </tr>
                          </tbody>-->
                          </table>
                      </section>
                  </div>
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
	<script src="../../js/bootstrap-table.js"></script>
	<script src="../../js/bootstrap-table-export.js"></script>
	<script src="../../js/bootstrap-table-toolbar.js"></script>
	<script src="../../js/tableExport.js"></script>
    <script src="../../js/jquery.scrollTo.min.js"></script>
    <script src="../../js/jquery.nicescroll.js" type="text/javascript"></script>
    


    <!--common script for all pages-->
    <script src="../../js/common-scripts.js"></script>

    <!--script for this page only-->
    

	<script src="../../js/user-manage/userlist.js"></script>
	<script type="text/javascript">
		//编辑表格
		$('#reportTable').bootstrapTable({
			method: 'post',
			editable:true,//开启编辑模式
			clickToSelect: true,
			showPaginationSwitch:true, //显示分页切换按钮  
			pagination: true,  
			pageList: [10,25,50,100],  
			pageSize:10,  
			pageNumber:1,  
			columns: [
				[
					{colspan:2,title:"列1",align:"center"},
					{colspan:6,title:"列2",align:"center"},
					{rowspan:2,field:"user_lastlogintime",title:"lastlogintime",align:"center",valign:'middle'}
				],
				[
				{field:"user_email",edit:false,title:"email",align:"center"},
				{field:"user_company",edit:{
									type:'select',//下拉框
									//url:'user/getUser.htm',
									data:[{id:1,text:'lzx'},{id:2,text:'lsl'}],
									valueField:'id',
									textField:'text',
									onSelect:function(val,rec){
										console.log(val,rec);
									}
				},title:"company",align:"center",width:"200px"},
				{field:"user_dates",edit:{
					type:'date',//日期
					required:true,
					click:function(){
						
					}
				},title:"date",align:"center"},
				{field:"user_version",title:"version",align:"center"},
				{field:"user_isv2",title:"isv2",align:"center"},
				{field:"userstatus_usertype",title:"usertype",align:"center"},
				{field:"userstatus_package_id",title:"package_id",align:"center"},
				{field:"userstatus_end_time",title:"end_time",align:"center",formatter:function(value,row,rowIndex){
					var strHtml = '<a href="javascript:void(0);" onclick="removeRow('+rowIndex+')">删除</a>';
					return strHtml;
				},edit:false}
				]
			],
			data : [{"user_email":"20dai.rikon@gmail.com","user_company":"2","user_dates":"2014-10-13 13:35:51","user_lastlogintime":"0","user_version":"0","user_isv2":"0","userstatus_usertype":"0","userstatus_package_id":"100014","userstatus_end_time":"NULL"},{"user_email":"20140416@xxxxddffg.com","user_company":"3","user_dates":"2014-10-13 13:35:51","user_lastlogintime":"0","user_version":"1","user_isv2":"0","userstatus_usertype":"0","userstatus_package_id":"100001","userstatus_end_time":"NULL"},{"user_email":"20083matsumoto-hs@polus.co.jp","user_company":"1","user_dates":"2014-10-31 13:02:47","user_lastlogintime":"1414726074","user_version":"0","user_isv2":"1","userstatus_usertype":"0","userstatus_package_id":"100014","userstatus_end_time":"0"},{"user_email":"20.2.n0.5@gmail.com","user_company":"","user_dates":"2014-11-21 11:00:10","user_lastlogintime":"1416564204","user_version":"0","user_isv2":"0","userstatus_usertype":"0","userstatus_package_id":"100014","userstatus_end_time":"0"}]
		}); 

		
	
	</script>
  </body>
</html>
